.header{
    padding-left: 8%;
}
.navmenu{
    padding: 9% 8% 8% 7%;
}
.menu{
    background-color:#FFFFFF;
    padding:4%;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #6E729C;
}
.ratecards-container{
    background-color: white;
    height: 60%;
    margin-left: 10px !important;
    margin-right: 20px !important;
    padding: 4% 0%;
    border-radius: 8px;
}
.card{
    background-color:#F4F5FB !important;
    color: #6E729C;
    margin: auto;
    height: 100%;
    border-radius: 10px !important;
    border-style: none !important;
    
    
}
.cardlabel{
    margin: 10%;

}
.cardrate{
    font-weight: bold;
    color: #14295A;
    font-size: larger;
    margin: 0% 10%;
}
