body {
    max-width: 1280px;
    margin: 0 auto;

}

.header {
    padding-left: 8%;
}

.navmenu {
    padding: 0% 0% 8% 7%;
    margin: 0% 0% 0% 0%;
    padding: 9% 8% 8% 7%;

}

.menu {
    padding: 1%;
    margin-bottom: 10px;
    border-radius: 10px;

}

.navlink {
    color: #6E729C;
    text-decoration: none;

    padding: 1%;
    display: block;
    border-radius: 10px;
}

.active {
    background: #FFFFFF;
    font-weight: 500;
    color: #454fb8;
}

.search {
    border: 0px;
    background-color: #F4F5FB;
    font-size: 16px;
    font-weight: 350;
    width: 90%;
}

.ratecards-container {
    background-color: white;
    height: 50%;
    margin-top: 40px !important;
    padding: 2.5% 0%;
    border-radius: 8px;
}

.ratecards-container.row {
    --bs-gutter-x: 0rem;
}

.card {
    background-color: #F4F5FB !important;
    color: #6E729C;
    margin: auto;
    height: 40%;
    border-radius: 10px !important;
    border-style: none !important;
    width: 27%;

}

.cardlabel {
    margin: 8%;
}

.cardrate {
    font-weight: bold;
    color: #14295A;
    font-size: x-large;
    margin: 0% 8% 8% 8%;
}

.navbar-light .navbar-toggler {
    border: 0
}

.navbar-toggler.fixed-top {
    top: 20px;
    left: initial;
}

.trademark-container {
    background-color: #FFFFFF;
    padding: 1%;
    font-size: small;
    position: absolute;
    bottom: 20px ;
}



.learnmore {
    color: #14295A;
    font-weight: bolder;
}


@media only screen and (max-width: 769px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .col-xs-5 {
        width: 60% !important;
    }

    .trademark-container {
        position: relative;
        top: 100px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        flex-direction: column;
    }
}